<link rel="stylesheet" type="text/css" href="../public/styles.css">
<body>
  <div id="nav-bar">
    <div id="nav-link-wrapper">
    <img id="logo" src="../public/logo_ldpi.png"/>
      <ol>
        <li class="inline">
          <a class="nav-link" href="/"><span id="title" class="link-wrapper">Quorum Cloud</span></a>
        </li>
        <li class="inline">
          <a class="nav-link" href="/uploads"><span class="link-wrapper">Elders</span></a>
        </li>
        <li class="inline">
          <a class="nav-link" href="/uploads"><span class="link-wrapper">Households</span></a>
        </li>  
        <li class="inline">
          <a class="nav-link" href="/uploads"><span class="link-wrapper">Hometeachers</span></a>
        </li>
        <li class="inline">
          <a class="nav-link" href="/uploads"><span class="link-wrapper">Upload</span></a>
        </li>
      </ol>
    </div>
  </div>  
</body>
